<ion-content>
    <ion-card mode="ios">
        <ion-card-content>
          <div fxLayout="column" fxLayoutAlign="center center">
            <ion-avatar (click)="tomarFoto()">
              <img src="assets/img/default.jpg"  />
            </ion-avatar>
            <ion-label color="medium">Foto</ion-label>
          </div>
        </ion-card-content>
        <form>
          <ion-item>
            <ion-label position="stacked">Alimento<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Descripcion<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Cantidad<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Precio x Unidad<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">FC<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">H de C<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Prot<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Gra<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Ca (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fe (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Fibra  (gr)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Na (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Potasio (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina C (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina A (ug)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina E (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina K (ug)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Colesterol (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina B1 (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina B6 (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">Vitamina B12 (mg)<ion-text color="warning">*</ion-text></ion-label>
            <ion-input required type="number" value="0"></ion-input>
          </ion-item>
        </form>
      </ion-card>
      <ion-fab (click)="crear()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="danger">
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>