<ion-content>
  <ng-container *ngIf="($alimentos | async) as alimentos; else elseTemplate">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle mode="md">Seleccione tu alimento</ion-card-subtitle>
        <ion-card-title mode="md">Alimentos</ion-card-title>
      </ion-card-header>
      <ion-card-content>

        <form [formGroup]="form">
          <ion-list lines="full">
            <ion-item>
              <ion-label>Alimentos Disponibles</ion-label>
              <ion-select formControlName="alimento_id" mode="md" ok-text="ok" cancel-text="salir">
                <ion-select-option [value]="alimento.id" *ngFor="let alimento of alimentos">{{alimento.nombre}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Cantidad en gr<ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input formControlName="cantidad" type="number"></ion-input>
            </ion-item>
          </ion-list>
        </form>




      </ion-card-content>
    </ion-card>
    <ion-fab  vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  (click)="crear()" color="danger" [disabled]="form.invalid">
        <ion-icon name="save"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ng-container>
  <ng-template #elseTemplate>

  </ng-template>
</ion-content>