<ion-content>
  <ion-list>
      <ion-list-header>
          Tus Categorias Creadas
       </ion-list-header>
    <ion-item>
      <ion-label>
        <ion-badge color="primary">Nombre de Categoria</ion-badge>
        <h3><i> descripcion de la categoria </i></h3>
        <p>Fecha creado: 2019/04/15</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-badge color="primary">Nombre de Categoria</ion-badge>
        <h3><i> descripcion de la categoria </i></h3>
        <p>Fecha creado: 2019/04/15</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
          <ion-badge color="primary">Nombre de Categoria</ion-badge>
        <h3><i> descripcion de la categoria </i></h3>
        <p>Fecha creado: 2019/04/15</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-fab (click)="presentModal()" vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="primary">
         <ion-icon name="add"></ion-icon>
      </ion-fab-button>
   </ion-fab>
</ion-content>