
<ng-container *ngIf="receta;else elseTemplate">
    <ion-list>
      <ion-virtual-scroll [items]="receta">
        <ion-item *virtualItem="let item" (click)="mostrar(item)">
            <ion-avatar slot="start">
                <img [src]=" item.foto | urlImg">
            </ion-avatar>
            <ion-label>
              <h2> <ion-note color="warning">{{item.nombre}}</ion-note> </h2>
              <h3> <ion-note color="primary">Total Personas :</ion-note> {{item.total_persona}}</h3>
              <h5><ion-note color="primary">Fecha :</ion-note> {{item.createdAt | date: 'dd/MM/yyyy'}}</h5>
              <ion-text>
                  {{item.descripcion}}
              </ion-text>
              
            </ion-label>
        </ion-item>
      </ion-virtual-scroll>
    </ion-list>
</ng-container>
<ng-template #elseTemplate>
  <ion-item>
    <ion-avatar slot="start">
        <!-- <img [src]=" item.foto | urlImg"> -->
    </ion-avatar>
    <ion-label>
      <h2> <ion-note color="warning">No Existe recetas</ion-note> </h2>
      <h3> <ion-note color="primary">Total Personas :</ion-note></h3>
      <h5><ion-note color="primary">Fecha :</ion-note></h5>
      <ion-text>
          
      </ion-text>
      
    </ion-label>
</ion-item>
</ng-template>


