
.hero-bkg-animated {
  background: gray url('../../../assets/img/login.jpg') repeat;
  background-position: center;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  animation: slide 25s linear infinite;
}

ion-button {
  margin-top: 20px;
}
@keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}