<ion-content color="warning">
  <div fxLayout="column" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <ion-avatar style="width: 200px;height: 200px;">
        <img src="assets/logo.png" />
      </ion-avatar>
    </div>
    <ion-card color="light" mode="ios">
      <ion-card-content *ngIf="myForm">
        <form [formGroup]="myForm">
          <ion-item color="light">
            <ion-label position="floating" color="medium">usuario</ion-label>
            <ion-input formControlName="username" required></ion-input>
          </ion-item>
          <ion-item color="light">
            <ion-label position="floating" color="medium">contraseña</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
          </ion-item>
          <ion-label color="medium">No tienes cuenta create <ion-text (click)="presentModal()" color="primary">
              una...
            </ion-text>
          </ion-label>
          <ion-button (click)="login()" color="warning" fill="solid" shape="round" expand="block">
            <ion-text color="light">
              Login
            </ion-text>
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>