<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="warning" defaultHref="/home" text="Atras"></ion-back-button>
    </ion-buttons>
    <ion-title color="medium">
      Receta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="($detalleReceta | async) as detalleReceta; else elseTemplate">
    <ion-img [src]=" imagenPreview | urlImg"></ion-img>
    <ion-item class="title--page">
      <ion-avatar slot="start">
        <img [src]=" imagenPreview | urlImg">
      </ion-avatar>
      <ion-label>
        <h2>{{ receta.nombre | titlecase}}</h2>
        <h3> {{receta.createdAt | date: 'dd/MM/yyyy'}}</h3>
        <p>{{receta.descripcion}}</p>
      </ion-label>
    </ion-item>
    <ion-card>
      <ion-card-content>

        <app-list-alimento [detalleReceta]="detalleReceta" (actualizarDatos)="obtenerDatos()"></app-list-alimento>

        <ng-template #elseTemplate>

        </ng-template>



        <ion-button (click)="presentModal()" color="warning" fill="solid" shape="round" expand="block">
          <ion-icon slot="start" name="add" color="light"></ion-icon>
          Agregar Comida
        </ion-button>
        <div class="button-wrapper">
            <span class="label">
              Subir Foto
            </span>
            
              <input (change)="obtenerImagen($event)" type="file" name="upload" id="upload" class="upload-box" placeholder="Upload File">
            
          </div>
      </ion-card-content>
    </ion-card>

  </ng-container>
</ion-content>